<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>158655292440-13ura0cl7nnpn2lu6f655i4u5je0tur6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.158655292440-13ura0cl7nnpn2lu6f655i4u5je0tur6</string>
	<key>API_KEY</key>
	<string>AIzaSyDBrXJ9Qx1lMF9IEnx9JIpd_aVAAnkGU3o</string>
	<key>GCM_SENDER_ID</key>
	<string>158655292440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cemayaz.InstagramCloneFirebase</string>
	<key>PROJECT_ID</key>
	<string>instagramclonefirebase-bc007</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclonefirebase-bc007.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:158655292440:ios:ad4710355ad32784cd4f6d</string>
	<key>DATABASE_URL</key>
	<string>https://instagramclonefirebase-bc007.firebaseio.com</string>
</dict>
</plist>